$primaryColor: #303e58;
$accentColor: #82b53f;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: $accentColor;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  background: $primaryColor;
  line-height: 1.2;
}

h1,
h2,
h3,
h4 {
  font-family: "Lemonada", sans-serif;
  font-weight: bold;
  margin: 0;
}
p,
a {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  &__title {
    font-size: 124px;
    font-size: 12.4rem;
    color: white;
  }
  &__subtitle {
    font-size: 50px;
    font-size: 5rem;
    text-transform: uppercase;
    color: $accentColor;
    letter-spacing: 30px;
  }
}

.hamburger {
  width: 60px;
  height: 35px;
  position: fixed;
  top: 50px;
  right: 90px;
  background: none;
  border: 0;
  cursor: pointer;
  z-index: 999;
  overflow: hidden;
  &__line {
    display: block;
    width: 100%;
    height: 4px;
    background: $accentColor;
    border-radius: 100px;
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 0.3s linear;
    transform-origin: 50% 50%;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: calc(50% - 2px);
    }
    &:nth-child(3) {
      bottom: 0;
    }
  }
  // Active class (when clicked)
  &.active {
    .hamburger__line {
      &:nth-child(1) {
        transform: translate(0, -10px);
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
        bottom: auto;
        top: calc(50% - 2px);
      }
    }
  }
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $primaryColor;
  opacity: 0;
  transition: opacity 0.2s linear;
  background-image: url(star.svg);
  background-repeat: no-repeat;
  background-position: center;
  &.active {
    opacity: 1;
  }
  &__link {
    display: block;
    width: 100%;
    padding: 15px;
    background: $accentColor;
    color: $primaryColor;
    text-align: center;
    font-size: 36px;
    font-size: 3.6rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s linear, opacity 0.5s linear;
    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  &__link {
    display: inline-block;
    padding: 25px;
    text-transform: uppercase;
    color: white;
    font-size: 36px;
    font-size: 3.6rem;
    font-weight: bold;
    letter-spacing: 10px;
    text-decoration: none;
    transition: transform 0.2s linear, opacity 0.1s ease, color 150ms linear;
    transform: translateY(-10px);
    opacity: 0;
    &::before {
      display: block;
      width: 0;
      height: 50px;
      content: "";
      position: absolute;
      left: 17px;
      top: calc(50% - 25px);
      background: $accentColor;
      transition: width 0.3s ease;
      z-index: -1;
    }
    &:hover {
      &::before {
        width: 40px;
      }
    }
    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@import "responsive";
